@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.nav-header {
    height: 10vh;
    display: flex;
    justify-content: center;
  top: 0; 
  width: 100%; 
  background-color: #ffffff; 
  z-index: 1000;
  }
  .nav-menu {
    list-style-type: none;
  display: flex;
  margin: 0;
  }

  .nav-image{
    height: 25px;
    width: 25px;
    margin-top: 20px;
    margin-right: 10px;
  }

  .nav-logo{
    display: flex;
  }
  
  .nav-link {
    text-decoration: none;
    margin: 10px;
    color: #006aff;
    font-family: 'Bree Serif',serif;
    font-size: 12px;
  }
  
  .blog-container {
    display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  padding: 0 20px;
  }
  
  .blog-title {
    font-family: 'Bree Serif',serif;
    color: #006aff;
    font-size: 16px;
  }
  
  li {
    list-style-type: none;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) {
    .blog-title {
      font-family: 'Bree Serif';
      color: #006aff;
      font-size: 34px;
    }
    .nav-image{
        height: 40px;
        width: 40px;
        margin-top: 28px;
        margin-right: 10px;
      }
    .nav-link{
        font-size: 20px;
    }
    
  }